@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 229, 229, 229;
      --background-start-rgb: 26, 26, 26;
      --background-end-rgb: 26, 26, 26;
    }
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

p {
  margin-bottom: 5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Staggered Entrance Utilities */
  .appear {
    animation: show 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    opacity: 0;
  }

  .stagger-1 {
    animation-delay: 0.1s;
  }

  .stagger-2 {
    animation-delay: 0.2s;
  }

  .stagger-3 {
    animation-delay: 0.3s;
  }

  .stagger-4 {
    animation-delay: 0.4s;
  }

  .stagger-5 {
    animation-delay: 0.5s;
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(10px);
    filter: blur(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.prose {
  --tw-prose-body: theme('colors.gray.200');
  --tw-prose-headings: theme('colors.white');
  --tw-prose-bold: theme('colors.white');
  --tw-prose-counters: theme('colors.gray.400');
  --tw-prose-bullets: theme('colors.gray.400');
  --tw-prose-hr: theme('colors.gray.700');
  --tw-prose-quotes: theme('colors.gray.200');
  --tw-prose-quote-borders: theme('colors.gray.700');
  --tw-prose-captions: theme('colors.gray.400');
  --tw-prose-code: theme('colors.white');
  --tw-prose-pre-code: theme('colors.gray.200');
  --tw-prose-pre-bg: theme('colors.gray.800');
  --tw-prose-th-borders: theme('colors.gray.700');
  --tw-prose-td-borders: theme('colors.gray.700');
}

.prose-links a {
  @apply underline hover:underline-offset-4 decoration-gray-400 hover:transition-transform;
}